<section id="contact" class="md-padding">
	<div class="container">
			<div class="row text-center">
				<div class="col-md-4 offset-md-4">
					<div class="section-header">
						<h2 class="title">REGISTER</h2>
					</div>
				</div>
			</div>
		<div class="row ">
			<div class="col-lg-12">
				<form action="/users/register" method="post" >
					<div class="row justify-content-center">
						<div class="col-md-8">
							<div class="form-group">
								<input class="form-control" name="username" id="username" type="text" placeholder="Your Username *" required="required" data-validation-required-message="Please enter your Username.">
								<p class="help-block text-danger"></p>
							</div>
							<div class="form-group">
								<input class="form-control" name="email" id="email" type="email" placeholder="Your Email *" required="required" data-validation-required-message="Please enter your email address.">
								<p class="help-block text-danger"></p>
							</div>
                            <div class="form-group">
								<input class="form-control" name="password" id="password" type="password" placeholder="Your Password *" required="required" data-validation-required-message="Please enter your password.">
								<p class="help-block text-danger"></p>
							</div>

                            <div id="success"></div>
							<button id="regisyter_btn" class="p-3 bg-dark text-white border-none  w-100 mt-4" type="submit">Register</button>
						
						</div>
						
						
					</div>
				</form>
			</div>
		</div>

	</div>
</section>